@font-face {
  font-family: "SourceSansPro Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcesansprolight.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesansprolight.woff") format("woff"), url("../fonts/sourcesansprolight.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcesanspro.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro.woff") format("woff"), url("../fonts/sourcesanspro.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcesansprobold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesansprobold.woff") format("woff"), url("../fonts/sourcesansprobold.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Grande";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lucidagranderegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lucidagranderegular.woff") format("woff"), url("../fonts/lucidagranderegular.ttf") format("truetype");
}
